/* Глобальні стилі */

:root {
  --primary-text-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --page-text-color: #212121;
  --secondary-title-color: #212121;
  --secondary-text-color: #757575;
  --primary-logo-color: #000000;
  --secondary-logo-color: #ffffff;
  --accent-color: #2196f3;
  --base-btn-color: #2196f3;
  --active-btn-color: #188ce8;
  --svg-base-color: #afb1b8;
  --auto-line-height: 1.2;
  --small-text-size: 14px;
  --medium-text-size: 16px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --border: rgba(255, 255, 255, 0.3)
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--page-text-color);
  background-color: var(--primary-text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 700;
  font-size: var(--medium-text-size);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  cursor: pointer;
  background-color: var(--base-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color var(--duration) var(--timing-function);
}

.btn:hover,
.btn:focus {
  background-color: var(--active-btn-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Головна сторінка */

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: var(--auto-line-height);
  color: var(--accent-color);
  text-decoration: none;
}

.logo-header {
  padding: 24px 0;
}

.logo-header-studio {
  color: var(--primary-logo-color);
}

.nav {
  margin-left: 93px;
}

.nav-list,
.contact-list {
  display: flex;
  gap: 50px;
}

.contact-list {
  margin-left: auto;
}

.nav-item {
  position: relative;
}

.nav-item-link,
.contact-item-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: var(--small-text-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}

.contact-item-link {
  color: var(--secondary-text-color);
}

.active-link,
.nav-item-link:hover,
.nav-item-link:focus,
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--accent-color);
}

.active-link::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-item-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Секція Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
}

/* Оверлей та модальне вікно */

.hero-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .hero-modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--duration) var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.main-form {
  padding: 48px 40px 40px;
}

.main-form-info {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--page-text-color);
  margin-bottom: 12px;
}


.main-form-input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--page-text-color);
  transition: color var(--duration) var(--timing-function);
}

.main-form-field:focus-within {
  color: var(--accent-color);
}

.main-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.main-form-input {
  margin: 0;
  padding: 11px 42px;
  color: var(--page-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  height: 40px;
  font-size: 12px;
  transition: border-color var(--duration) var(--timing-function);
}

.main-form-input:focus,
.main-form-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.main-form-input:not(:placeholder-shown) + .main-form-icon {
  fill: var(--accent-color);
}

.main-form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.comment-input {
  padding: 12px 16px;
}

.comment-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.main-form-policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.main-form-policy-box {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.main-form-policy-icon {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 19px;
}

.main-form-policy-label {
  margin-left: 8px;
  font-weight: 400;
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.main-form-policy-checkbox:checked + .main-form-policy-box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.main-form-policy-checkbox:checked ~ .main-form-policy-icon {
  z-index: 2;
}

.main-form-policy-link {
  color: var(--accent-color);
}

.main-form-btn {
  min-width: 200px;
  height: 50px;
}

/* Особливості роботи */

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item-icon-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.features-item-icon {
  width: 70px;
  height: 70px;
}

.features-item-title {
  margin-bottom: 10px;
  font-size: var(--small-text-size);
  line-height: 1.14;
  text-transform: uppercase;
}

.features-item-text {
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Чим ми займаємося */

.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-item-img {
  display: block;
}

.work-item-title-thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-item-title {
  font-size: var(--small-text-size);
  line-height: 1.14;
  color: var(--primary-title-color);
  text-transform: uppercase;
}

/* Наша команда */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-img {
  display: block;
}

.team-item-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title,
.team-item-text {
  font-size: var(--medium-text-size);
  line-height: var(--auto-line-height);
  text-align: center;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
}

.team-item-text {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--svg-base-color);
  border-radius: 50%;
  background-color: var(--primary-text-color);
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.socials-item-link:hover,
.socials-item-link:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

.socials-item-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Постійні клієнти */

.clients-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.clients-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--svg-base-color);
  border: 1px solid var(--svg-base-color);
  border-radius: 4px;
  transition: color var(--duration) var(--timing-function),
    border-color var(--duration) var(--timing-function);
}

.clients-item-link:hover,
.clients-item-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-item-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Футер */

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer-studio {
  color: var(--secondary-logo-color);
}

.address {
  margin-top: 20px;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-item {
  color: var(--primary-text-color);
}

.address-item:nth-child(n + 2) {
  color: rgba(255, 255, 255, 0.6);
}

.address-item-link {
  font-style: normal;
  font-size: var(--small-text-size);
  line-height: 1.71;
  color: inherit;
  text-decoration: none;
  transition: color var(--duration) var(--timing-function);
}

.address-item-link:hover,
.address-item-link:focus {
  color: var(--accent-color);
}

/* Соцмережі */

.socials {
  margin-left: 70px;
}

.socials-tagline,
.subscribe-tagline {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--small-text-size);
  line-height: 1.14;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.footer-socials-item-link {
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function);
}

/* Форма підписки */

.subscribe {
  min-width: 570px;
  margin-left: auto;
}

.footer-form {
  display: flex;
}

.footer-form-input {
  flex-grow: 1;
  padding: 15px 16px;
  color: var(--primary-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color var(--duration) var(--timing-function);
}

.footer-form-input::placeholder {
  font-size: var(--medium-text-size);
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus,
.subscribe-form-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
}



.subscribe__info {
  width: 358px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 15px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}



.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border-radius: 4px;
  margin-left: 12px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.telegram_icon_svg {
  fill: var(--primary-text-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}


.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: var(--medium-text-size);
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: inherit;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 4px;
  transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* проєкти*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  display: flex;
}

.portfolio-item-link {
  color: inherit;
  text-decoration: none;
  transition: box-shadow var(--duration) var(--timing-function);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-img {
  display: block;
}

.portfolio-item-box {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function);
}

.portfolio-item-desc {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

.portfolio-item-link:hover .portfolio-item-overlay,
.portfolio-item-link:focus .portfolio-item-overlay {
  transform: translateY(0);
}

.portfolio-item-caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-text {
  font-size: var(--medium-text-size);
  line-height: 1.88;
  color: var(--secondary-text-color);
}
